html,
body {
	margin:0;
	padding: 0;
	background-color: white;
	font-family: Baskerville, 'Baskerville Old Face';
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-style: outset;
	border-color: darkgrey;
	border-radius: 20px;
	box-shadow: 3px 3px;
	
	background-color: lightgrey;
}

#header__logo {
	padding: 10px 25px 10px 10px;
}

/**CONTENT**/

#flex-box {
	display: flex;
	margin: 10px;
	
}

.content__image {
	
	max-width: 100%;
	height: auto;
}

.main_content {
	border: 2px outset grey;
	border-radius: 5px;
	width: 1000px;
	max-width: 100%;
	flex: 4;
	order: 2;
	margin: 20px 10px 0 10px;	
}

.main_content h1 {
	text-align: center;
}

.sidebar {
	flex:1;
	order: 1;
	padding: 10px;
	margin-top: 20px;
	border: 2px outset grey;
	border-radius: 5px;
}

.about-me_title,
.about-me_content {
	text-align: center;
}

.sidebar img {
	width: 300px;
	max-width: 100%;
	height: auto;
	border-radius: 100%;
} 

/*****FOOTER*****/
.work-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 40px auto 0 auto;
	text-align: center;
	padding: 20px;
}

.work-image a {
	font-size: 20px;
	text-decoration: none;
	color: inherit;
}

.work-image a:hover {
	color: grey;

}
.work-image {
	border: 2px outset grey;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	flex-basis: 30%;
	background-color: darkgrey;
	border-radius: 7px;
}

#int-pic,
#hack-pic,
#data-pic {	
	max-width: 100%;
	height: auto;
}

.work__text {
	text-align: center;
	border: 7px solid black;
	border-width: 2px;
	border-radius:20px;
	box-shadow: 4px 4px;
	background-color: lightgrey;
}
footer {
	display: flex;
	justify-content: center;
}
footer a {
	padding: 10px;
	color: darkgrey;

}
footer a:visited {
	color: grey;
}
@media (min-width: 900px) {
  .work-container {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 700px)
{
	.work-container {
		display: flex;
		flex-direction: column;
	}
}